.madu-bold {
    color: #ec037c !important;
    font-weight: 700;
}

.nav-link {
    color: #ec037c !important;
}

.btn-primary {
    background-color: #ec037c !important;
    border-color: #ec037c !important;
}

.btn-outline-primary {
    color: #ec037c !important;
    border-color: #ec037c !important;
}

.btn-outline-primary:hover {
    color: #fff !important;
    background-color: #ec037c !important;
    border-color: #ec037c !important;
}
.size-of-calendar {
    width: 130px;
    /*height: 150px;*/
}

#dayTable tbody > tr {
    height: 0px !important;
    font-size: 0.3rem;
    padding: 0.5%;
}
#dayTable tbody > tr>td {
    padding: 0.5%;
}

.none-click{
    pointer-events: none;
    opacity: 0.5;
}
